/* Laptop */

@media(max-width:1200px){

.dashboard{

grid-template-columns:250px 1fr;

}

.sources{

display:none;

}

}

/* Tablet */

@media(max-width:900px){

.dashboard{

grid-template-columns:1fr;

}

.sidebar{

position:fixed;

left:-320px;

top:0;

height:100%;

width:300px;

z-index:999;

transition:.3s;

}

.sidebar.active{

left:0;

}

.workspace{

height:100vh;

}

}

/* Mobile */

@media(max-width:600px){

.topbar{

padding:20px;

}

.chat-section{

padding:20px;

}

.chat-input{

padding:15px;

}

.chat-input button{

padding:15px 20px;

}

.stats{

grid-template-columns:1fr;

}

.hero{

padding-top:50px;

}

h1{

font-size:42px;

}

}